
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
obj/
/Architecture/Architecture/obj/Architecture.csproj.nuget.dgspec.json
/Architecture/Architecture/obj/Architecture.csproj.nuget.g.props
/Architecture/Architecture/obj/Debug/net5.0/Architecture.assets.cache
/Architecture/Architecture/obj/Debug/net5.0/Architecture.csproj.AssemblyReference.cache
/Architecture/Architecture/obj/Debug/net5.0/Architecture.GeneratedMSBuildEditorConfig.editorconfig
/Architecture/Architecture/obj/project.assets.json
/Architecture/Architecture/obj/project.nuget.cache
