using  Architecture.Models.VolsViewModel

@{
    ViewData["Title"] = "Home Page";
}

@Model.Architecture.Models.VolsViewModel;

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <a>@Model.Flights[0].Price</a>
</div>
