@using API_Archi;
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/site.js"></script>




<form method="post" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexPost">
    <div class="text-center">
        <h1 class="display-4">Bienvenue</h1>
        <label for="flight-select">Choisissez un vol:</label>

        <select name="flight" id="flight-select">
            @{
                foreach (Flight flight in Model.Flights)
                {
                    <option value="@flight.id">@flight.airport_start - @flight.airport_arrival : @flight.price €</option>
                }
            }
        </select>
    </div>

    <fieldset>
        <legend>Obtion</legend>
        <div>
            <label for="Child">Tarif enfant -10ans => -10%</label>
            <input type="checkbox" name="Child" id="Child" checked value="true" />
            <input type="hidden" name="Child" value="false" />
        </div>
        <div>
            <label for="Bagage">Bagage : 50€</label>
            <input type="checkbox" name="Bagage" id="Bagage" checked value="true" />
            <input type="hidden" name="Bagage" value="false" />
        </div>
    </fieldset>

    <fieldset>
        <legend>Customer informations</legend>
        <div>
            <label for="FirstName">Prénom:</label>
            <input type="text" name="FirstName" value="" required />
        </div>
        <div>
            <label for="LastName">Nom:</label>
            <input type="text" name="LastName" value="" required />
        </div>
        <div>
            <label for="Date">Date:</label>
            <input type="date" name="Date" required />
        </div>
        <input type="hidden" value="" name="Submit" id="submit" />
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Payer" class="submit" onClick="funcPayer()" />
            <input type="submit" value="Mettre dans le panier" class="submit" onClick="funcTransac()" />
        </div>
    </fieldset>
</form>
